 .design_project_details {
    background-color: #f4f3f2;
    font-family: Arial, sans-serif;
    height: calc(100vh - 80px);
    overflow-x: hidden;
    width: 100%;
    margin: 0;
    padding: 0;
 }


.design_project_container {
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
    box-sizing: border-box;
}

@media (max-width: 1000px) {
    .design_project_container {
        max-width: 100%;
        margin: 0 auto;
    }
}

.about_project {
    margin: 12px 0 12px 0px;
}

.back_btn {
    height: 45px;
    width: 95px;
    border-radius: 20px;
    font-size: 12px;
    font-weight: 600;
    justify-content: space-evenly;
    border: 1px solid #b78c61;
    background-color: #ffffff;
    cursor: pointer;
    color: #b78c61;
    display: flex !important; 
    margin-top: 20px; 
    align-self: flex-start;
    align-items: center;
    position: relative; 
    z-index: 10; 
    @media (max-width: 1250px) {
        margin-left: 50px; 
    }

    @media (max-width: 900px) {
        height: 30px;
        width: 65px;
        font-size: 9px;
    }
}



.project_presentation_info {
    flex-direction: column;
    text-align: center;
    align-items: center;
}

.project_presentation {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-top: 20px; 
}


.project_presentation_img {
    max-width: 85%;
    height: auto;
    display: block;
    border-radius: 20px;
    box-shadow: 9px 8px 9px rgba(0, 0, 0, 0.2);
    margin: 0 auto;
}

.project1_details {
    margin: 100px auto 40px auto;
    padding: 0 40px;
}

.project_context {
    display: flex;
    align-items: center;
    justify-content: center;
}

.project1_context_categoty {
    margin-bottom: 20px;
    margin-top: 20px;
    font-size: 30px;
}

.project1_context_details {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 20px;
    width: 100%;
}

.project1_text {
    flex: 1;
}

.project1_additional_details {
    flex: 1;
}

.project_additional_details_text {
    margin-bottom: 30px;
}

.additional_title {
    font-size: 18px;
    font-weight: 600;
}

.goals {
    display: flex;
    flex-direction: column;
    gap: 0px;
}

.goals_content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 50px;
    @media (max-width: 900px) {
    flex-direction: column;
    align-items: start;
    }
}

.goals_text {
    flex: 2;
    max-width: 60%;
    @media (max-width: 900px) {
       max-width: 100%;
       font-size: 14px;
}
}

.goals_extra_info {
    flex: 1;
    max-width: 35%;
    @media (max-width: 900px) {
        font-size: 14px;
 }
}

.info_title {
    font-weight: bold;
    text-transform: uppercase;
    font-size: 14px;
    color: rgba(0, 0, 0, 0.849);
    margin-bottom: 5px;
}

@media (max-width: 900px) {
.research_text{
    font-size: 14px;
}}

.challenges_img {
    height: 420px;
    width: auto;
    @media (max-width: 900px) {
  height: 350px;
        }
        @media (max-width: 700px) {
                    height: 260px;
                          }
                          @media (max-width: 600px) {
                            height: 200px;
                                  }
                                  @media (max-width: 400px) {
                                    height: 150px;
                                          }
}

.personas_img {
    height: 650px;
    width: auto;
    @media (max-width: 900px) {
        height: 500px;
              }  @media (max-width: 700px) {
                          height: 450px;
                                }
                                @media (max-width: 550px) {
                                  height: 320px;
                                        }
                                        @media (max-width: 400px) {
                                          height: 250px;
                                                }
}

.personas_text {
    margin-bottom: 10px;
    @media (max-width: 900px) {
     font-size: 14px;
              }
}

.user_flow_img {
    display: block;
    width: auto;
    height: 200px;
    margin: 0 auto;
    @media (max-width: 1100px) {
            content: url("../../images/userflow2.png"); 
            height:650px
    }
}

/* 
.challenges,
.personas,
.research{
    margin-top: 40px;
    padding-left:20px
} */


.challenges,
.personas,
.research,
.user_flow,
.wireframe,
.final_result {
    margin-top: 40px;
}

.goals_title,
.challenge_title,
.research_title,
.personas_tile,
.user_flow_title,
.wireframe_title,
.final_result_title {
    font-size: 30px;
    margin-bottom: 20px;
    @media (max-width: 900px) {
        font-size: 25px;
 }
}

.challenges_container,
.personas_container,
.wireframe_container,
.final_result_container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.personas_container {
    width: 100%;
}



.wireframe_text{
    @media (max-width: 900px) {
        font-size: 14px;
                 }
}


.wireframe_img {
    height: 900px;
    width: auto;
    @media (max-width: 1100px) {
      height: 530px;
 }
 @media (max-width: 650px) {
    height: 400px;
}
@media (max-width: 500px) {
    height: 250px;
}
}

.final_result_img {
    height: 920px;
    width: auto;
    @media (max-width: 1100px) {
        height: 530px;
   }
@media (max-width: 650px) {
   height: 400px;
}
@media (max-width: 500px) {
   height: 250px;
}
}

.link_website {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 40px;
    margin-top: 40px;
}

.webiste_button {
    align-items: center;
    appearance: none;
    background-image: radial-gradient(100% 100% at 100% 0, #e0d9d2 0, #b5885c 100%);
    border: 0;
    border-radius: 10px;
    box-shadow: rgba(45, 35, 66, .4) 0 2px 4px, rgba(45, 35, 66, .3) 0 7px 13px -3px, rgba(58, 65, 111, .5) 0 -3px 0 inset;
    box-sizing: border-box;
    color: #fff;
    cursor: pointer;
    display: inline-flex;
    height: 48px;
    justify-content: center;
    line-height: 1;
    list-style: none;
    overflow: hidden;
    padding-left: 16px;
    padding-right: 16px;
    position: relative;
    text-align: left;
    text-decoration: none;
    transition: box-shadow .15s, transform .15s;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    white-space: nowrap;
    will-change: box-shadow, transform;
    font-size: 23px;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.6);
    @media (max-width: 900px) {
        font-size: 14px;
                 }
}

.webiste_button:focus {
    box-shadow: #444444 0 0 0 1.5px inset, rgba(62, 62, 62, 0.4) 0 2px 4px, rgba(71, 71, 71, 0.3) 0 7px 13px -3px, #444444 0 -3px 0 inset;
}

.webiste_button:hover {
    box-shadow: rgba(71, 71, 71, 0.4) 0 4px 8px, rgba(41, 41, 41, 0.3) 0 7px 13px -3px, #2b2b2b 0 -3px 0 inset;
    transform: translateY(-2px);
}

